<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>爱</key>
	<string>爱是深深的喜欢</string>
	<key>喜</key>
	<string>喜欢中有淡淡的忧伤</string>
	<key>我</key>
	<string>我是一个大坏蛋</string>
	<key>你</key>
	<string>你也不是好人</string>
	<key>艾</key>
	<string>艾泽鑫大帅哥</string>
	<key>曹</key>
	<string>曹兆华是个大傻逼</string>
	<key>在</key>
	<string>在那遥远的地方</string>
	<key>天</key>
	<string>好好学习天天向上</string>
</dict>
</plist>
